.git*
.github/
build/**/*.test.*
.editorconfig
tsconfig.json
eslint.config.js
commitlint.config.js
stryker.config.json
vitest.config.ts
src/
test/
docs/
node_modules/
coverage/
reports/
.stryker-tmp/
*.tsbuildinfo
CONTRIBUTING.md
SECURITY.md
CLA.md

.DS_Store
.idea/
.vscode/
*.swp
*.swo
